<ul>
  {{#each @model.repos  as |repo|}}
  <li>
    <LinkTo @route="repo-details" @models={{array @model.user.login repo.name}} @query={{hash user=@model.user.login}}>
      {{repo.fullName}}
    </LinkTo>
  </li>
  {{/each}}
</ul>