<ul>
    {{#each @model as |repo|}}
    <li>
        <LinkTo @route="repo-details" @models={{array repo.name repo.owner}}>
            {{repo.name}}
        </LinkTo>
    </li>
    {{/each}}
</ul>